<%- include("partials/header.ejs") %>

<h1>Welcome to the world of lavender!</h1>
<p>
    I'm Andra, and I'm passionate about all things lavender. This blog is my little corner of the internet where I share my love of this amazing herb with the world.
    </p>
    <p>Join me as we explore the many ways lavender can enrich your life, from soothing stress to beautifying your home.
    <p> Get ready for:</p>

    <div class="aboutList">
    <li>    Lavender history & facts
    </li>
    <li>    DIY creations & recipes
    </li>
    <li>    Growing tips & wellness benefits
    </li>
    <p>    Let's dive into the calming world of lavender together!
    </p>
</div>

  <%- include("partials/footer.ejs") %>
